<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">

    <div ng-controller="EditSettingsController as esc">

        <form id="pi-form" name="piForm" ng-submit="esc.submit()" ng-model="esc.data" ng-model-options="{allowInvalid: true}" validate-form>

            <ul class="list-input settings-list" id="pi-line-items">

                <li class="ubcpi-pi-intro">
                    <p><strong>Enseignement par les pairs</strong></p>
                    <p>L'enseignement par les pairs permet aux étudiants d'avoir une interaction avec les autres étudiants tout en répondant à une question à choix multiples. Les étudiants complètes ces exercies en trois étapes.</p>
                    <p>Premièrement, l'étudiant répond à une question à choix multiples et fournit un raisonnement pour sa réponse. Ensuite, l'étudiant voit le raisonnement fournit par un autre étudiant pour chacune des réponses possibles. Après avoir pris connaissance de ceux-ci, l'étudiant peut faire une révision et resoumettre une nouvelle réponse et un nouveau raisonnement. Finalement, l'étudiant verra la bonne réponse et le raisonnement que vous aurez fournit pour celle-ci.</p>
                </li>

                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting pi-wrapper-comp-setting">
                        <div class="pi-label-and-hint">
                            <label class="label setting-label pi-setting-label" for="pi-display-name" aria-describedby="pi-display-name-tip">Nom d'affichage</label>
                            <span class="tip setting-help" id="pi-display-name-tip">Ce nom apparaitra dans la barre de navigation horizontale au haut de la page.</span>
                        </div>
                        <input class="input setting-input" name="display_name" id="pi-display-name" ng-model="esc.data.display_name" ng-model-options="{ debounce: 500 }" type="text" required />
                    </div>
                </li>


                <li class="field comp-setting-entry is-set ubcpi-weight">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-display-name">Poids de l'exercice<br /><span class="tip setting-help">Définit la valeur des points pour chaque exercice. Si cette valeur n'est pas définie, l'exercice vaudra la somme des points en options.</span></label>
                        <input class="input setting-input" name="weight" id="pi-weight" ng-model="esc.data.weight" ng-model-options="{ debounce: 500 }" type="text" required />
                    </div>
                </li>

                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting pi-wrapper-comp-setting">
                        <div class="pi-label-and-hint">
                            <label class="label setting-label pi-setting-label" for="pi-question-text" aria-describedby="pi-question-text-tip">Texte de la question</label>
                            <span class="tip setting-help" id="pi-question-text-tip">La question apparait au-dessus des réponses possibles que vous indiquerez ci-dessous. Vous pouvez utiliser du texte, une image ou une combinaison de deux. Si vous voulez ajouter une image à votre question, sélectionnez le bouton "Ajouter une image à la question".</span> <input type="button" class="button action-primary add-image-button" value="{{esc.data.question_text.image_show_fields ? 'Remove Image' : 'Ajouter une image à la question'}}" ng-click="esc.image_show_fields(false)" name="add-image-button" />
                        </div>
                        <textarea class="input setting-input" name="question_text" id="pi-question-text" ng-model="esc.data.question_text.text" ng-model-options="{ debounce: 500 }"></textarea>

                        <div class="add-image-inputs" ng-if="esc.data.question_text.image_show_fields">
                        	<label class="label setting-label pi-setting-label" for="question-text-image-url">Image URL<br /><span class="tip setting-help">Upload a file first using Content > Files &amp; Uploads. Then copy the 'Studio URL'. Paste that into the text field here.</span></label>
                        	<input type="text" name="question-text-image-url" id="question-text-image-url" class="input setting-input pi-options image-input-url" ng-model="esc.data.question_text.image_url" ng-model-options="{ debounce: 500 }" required/> <br />
                        	<label class="label setting-label pi-setting-label" for="question-text-image-position">Image Position<br /><span class="tip setting-help">Choose if you want the image to appear above or below the question.</span></label>
                        	<select name="question-text-image-position" id="question-text-image-position" ng-model="esc.data.question_text.image_position" ng-options="position as desc for (position, desc) in esc.image_position_locations"></select><br />
                            <label class="label setting-label pi-setting-label" for="question-text-image-alt">Image Description<br /><span class="tip setting-help">Provide alternative text - a description of the image for non-visual users. The description should provide all the information needed for someone to answer the question if the image did not load.</span></label>
                            <input type="text" name="question-text-image-alt" id="question-text-image-alt" class="input setting-input pi-options image-input-alt" ng-model="esc.data.question_text.image_alt"  ng-model-options="{ debounce: 500 }" required/>
                        </div>

                    </div>
                </li>

                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting pi-wrapper-comp-setting">
                        <div class="pi-label-and-hint">
                            <label class="label setting-label pi-setting-label" for="pi-rationale-min" aria-describedby="pi-rationale-min-tip">Nombre minimum de caractères</label>
                            <span id="pi-rationale-min-tip" class="tip setting-help">Nombre minimum de caractères que doit contenir le raisonnement de l'étudiant.</span>
                        </div>
                        <input class="input setting-input" name="pi-rationale-min" id="pi-rationale-min" ng-model="esc.data.rationale_size.min" ng-model-options="{ debounce: 500 }" type="text" required />
                    </div>
                    <div class="wrapper-comp-setting pi-wrapper-comp-setting">
                        <div class="pi-label-and-hint">
                            <label class="label setting-label pi-setting-label" for="pi_rationale_max" aria-describedby="pi-rationale-max-tip">Nombre maximum de caractères</label>
                            <span id="pi-rationale-max-tip" class="tip setting-help">Nombre maximum de caractères que doit contenir le raisonnement de l'étudiant.</span>
                        </div>
                        <input class="input setting-input" name="pi-rationale-max" id="pi_rationale_max" ng-model="esc.data.rationale_size.max" ng-model-options="{ debounce: 500 }" type="text" required />
                    </div>
                </li>

                <li class="field comp-setting-entry is-set">

                    <div class="wrapper-comp-setting pi-wrapper-comp-setting">
                        <div class="pi-label-and-hint">
                            <label class="label setting-label pi-setting-label" for="pi-option-0" aria-describedby="pi-option-tip">Réponses possibles</label>
                            <span id="pi-option-tip" class="tip setting-help">Les réponses apparaissent comme des choix sous la question, avec un maximum de 10 choix permis par question. Chaque question peut contenir du texte, une image ou une combinaison des deux. <br /><br />Pour ajouter une autre réponse, sélectionner le bouton "Ajouter une nouvelle réponse". Pour enlever une réponse, appuyer sur le "x" bleu près du choix que vous désirez enlever.</span>
                        </div>
                        <div class="ubcpi-options-list-container">
                            <div class="wrapper-comp-setting ubcpi-options-list" id="option-{{ $index + 1}}" ng-repeat="option in esc.data.options track by $index">
                                <div class="pi-label-and-hint pi-repeater">
                                    <label class="label setting-label pi-setting-label" for="pi-option-{{$index}}" aria-describedby="pi-option={{$index}}-tip">Réponse {{$index + 1}}</label>
                                    <span id="pi-option={{$index}}-tip" class="tip setting-help">Ajouter le texte pour cette réponse. Si vous voulez ajouter une image, sélectionnez le bouton ci-bas.</span> <input type="button" class="button action-primary add-image-button" value="{{esc.data.options[$index].image_show_fields ? 'Remove Image' : 'Ajouter une image' }}" ng-click="esc.image_show_fields($index)" name="add-image-button-pi-option-{{$index+1}}" />
                                </div>
                                <input class="input setting-input pi-options" name="pi-option-{{$index}}" id="pi-option-{{$index}}" ng-model="esc.data.options[$index].text" ng-model-options="{ debounce: 500 }" type="text" required />
                                <a href="" class="remove-action remove-setting" aria-label="Remove Option" data-lang="af" data-value="" ng-click="esc.delete_option($index)" data-tooltip="Remove option"><i class="icon fa fa-times-circle"></i><span class="sr">Remove</span></a>

                                <div class="add-image-inputs" ng-if="esc.data.options[$index].image_show_fields">
                                	<label class="label setting-label pi-setting-label" for="question-text-image-url-{{$index}}">Image URL<br /><span class="tip setting-help">Upload a file using Content > Files &amp; Uploads. Then copy the 'Studio URL'. Paste that into the text field above.</span></label>
                                	<input type="text" name="question-text-image-url" id="question-text-image-url-{{$index}}" class="input setting-input pi-options image-input-url" ng-model="esc.data.options[$index].image_url" ng-model-options="{ debounce: 500 }" required/> <br />
                                	<label class="label setting-label pi-setting-label" for="question-text-image-url-{{$index}}">Position de l'image<br /><span class="tip setting-help">Choisissez si l'image doit apparaitre au-dessus ou au-dessous du texte de la question.</span></label>
                                	<select name="question-text-image-position" id="question-text-image-position-{{$index}}" ng-model="esc.data.options[$index].image_position" ng-options="position as desc for (position, desc) in esc.image_position_locations"></select><br />
                                    <label class="label setting-label pi-setting-label" for="question-text-image-alt-{{$index}}">Description de l'image<br /><span class="tip setting-help">Texte alternatif - une description de l'image pour les usagers avec problèmes visuels. La description devrait fournit toutes les informations nécessaires pour répondre à la question si l'image n'a pas été téléchargée.</span></label>
                                	<input type="text" name="question-text-image-alt" id="question-text-image-alt-{{$index}}" class="input setting-input pi-options image-input-alt" ng-model="esc.data.options[$index].image_alt" ng-model-options="{ debounce: 500 }" required/> <br />
                                </div>

                            </div>

                            <input type="button" class="button action-primary add-image-button add-new-answer-button" value="Ajouter une nouvelle réponse" ng-click="esc.add_option()" name="pi-add-item-link" ng-hide="esc.data.options.length>=10"/>

                        </div>

                    </div>

                </li>

                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting pi-wrapper-comp-setting">
                        <div class="pi-label-and-hint">
                            <label class="label setting-label pi-setting-label" for="pi-option-correct" aria-describedby="pi-option-correct-tip">Bonne réponse</label>
                            <span id="pi-option-correct-tip" class="tip setting-help">Choisissez la réponse que vous croyez être correcte.</span>
                        </div>
                        <select name="pi-option-correct" id="pi-option-correct" ng-model="esc.data.correct_answer" ng-model-options="{ debounce: 500 }" ng-options="esc.data.options.indexOf(option) as ('Option ' + (esc.data.options.indexOf(option) +1) ) for option in esc.data.options" required></select>
                    </div>
                    <div class="wrapper-comp-setting pi-wrapper-comp-setting">
                        <div class="pi-label-and-hint">
                            <label class="label setting-label pi-setting-label" for="pi-correct-rationale" aria-describedby="pi-correct-rationale-tip">Explanation</label>
                            <span id="pi-correct-rationale-tip" class="tip setting-help">Expliquez aux étudiants pourquoi cette réponse est la bonne réponse. Les étudiants verront la bonne réponse et votre explication après avoir soumis leur réponse finale.</span>
                        </div>
                        <textarea name="pi-correct-rationale" id="pi-correct-rationale" ng-model="esc.data.correct_rationale.text" ng-model-options="{ debounce: 500 }" required></textarea>
                    </div>
                </li>

                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting pi-wrapper-comp-setting">
                        <div class="pi-label-and-hint">
                            <label class="label setting-label pi-setting-label" for="pi-algo" aria-describedby="pi-algo-tip">Réponses visibles aux étudiants - Logique de sélection</label>
                            <span id="pi-algo-tip" class="tip setting-help">"Simple" signifie que les exemples de réponses sont intentionnellement choisies quand les étudiants voient les réponses de leurs pairs.<br />"Aléatoire" signifie que les exemples sont choisis de manière aléatoire et peuvent ne pas include différents choix de réponses.</span>
                        </div>
                        <select name="pi-algo" id="pi-algo" ng-model="esc.data.algo.name" ng-options="algo as algo for (algo, desc) in esc.algos" required></select>
                    </div>
                    <span class="tip setting-help">{{ esc.algos[esc.data.algo] }}</span>
                    <div class="wrapper-comp-setting pi-wrapper-comp-setting">
                        <div class="pi-label-and-hint">
                            <label class="label setting-label pi-setting-label" for="pi-algo-num-responses" aria-describedby="pi-num-responses-tip">Réponses visibles aux étudiants - Nombre choisi</label>
                            <span id="pi-num-responses-tip" class="tip setting-help">Ceci est le nombre d'exemples affichés aux étudiants après leur choix de réponse. Entrez le symbole # afin d'utiliser le même nombre que le nombre de choix de réponses possibles.</span>
                        </div>
                        <input class="input setting-input pi-options" name="pi-algo-num-responses" id="pi-algo-num-responses" ng-model="esc.data.algo.num_responses" ng-model-options="{ debounce: 500 }" type="text" required />
                    </div>
                </li>

                <li class="field comp-setting-entry is-set">

                    <div class="pi-label-and-hint">
                        <label class="label setting-label" for="pi-option-seeded-0" aria-describedby="pi-option-seeded-tip">Exemples de réponses</label>
                        <span id="pi-option-seeded-tip" class="tip setting-help">Ajoutez des exemples de réponses au pool de réponses pour cette question. Les étudiants les plus susceptibles de voir ces réponses sont ceux qui achèvent la tâche en premier, lorsque le pool de réponses est petit.</span>
                    </div>

                    <div class="ubcpi-options-list-container">
                        <div class="wrapper-comp-setting ubcpi-options-list seeded-answer" id="seed-{{ $index + 1 }}" ng-repeat="option in esc.data.seeds track by $index">
                            <div class="pi-label-and-hint pi-repeater">
                                <label class="label setting-label pi-setting-label" for="pi-option-seeded-{{$index}}" aria-describedby="pi-option-seeded-{{$index}}-tip">Exemple de réponse {{$index + 1}}</label>
                                <span id="pi-option-seeded-{{$index}}-tip" class="tip setting-help">Choisissez la réponse.</span>
                            </div>
                            <select name="pi-option-seeded-{{$index}}" id="pi-option-seeded-{{$index}}" ng-model="esc.data.seeds[$index].answer" ng-options="esc.data.options.indexOf(option) as ('Option ' + (esc.data.options.indexOf(option) +1) ) for option in esc.data.options" required></select>
                            <a href="" class="remove-action remove-setting" aria-label="Remove seed" data-lang="af" data-value="" ng-click="esc.deleteSeed($index)" data-tooltip="Remove seed"><i class="icon fa fa-times-circle"></i><span class="sr">Remove</span></a>
                            <div class="pi-label-and-hint pi-repeater">
                                <label class="label setting-label pi-setting-label" for="pi-seed-{{$index}}">Explication</label>
                                <span class="tip setting-help">Fournissez une explication pour cette réponse.</span>
                            </div>
                            <textarea class="input setting-input ubcpi-field" name="pi-seed-{{$index}}" id="pi-seed-{{$index}}" ng-model="esc.data.seeds[$index].rationale" ng-model-options="{ debounce: 500 }" required></textarea>

                        </div>
                        <input type="button" class="button action-primary add-image-button" value="Ajouter un nouvel exemple" ng-click="esc.addSeed()" name="pi-option-add-seed" />
                    </div>

                    <div ng-messages='piForm.$errors' ng-messages-multiple>
                        <div class="seed_error" ng-message="seed_error">
                            <p role="alert"><i class="icon fa fa-remove"></i> {{piForm.$errors.seed_error}}</p>
                        </div>
                        <div class="options_error" ng-message="options_error">
                            <p role="alert" class="icon fa fa-remove">{{piForm.$errors.options_error}}</p>
                        </div>
                    </div>

                </li>

            </ul>

            <div class="xblock-actions">

                <ul>
                    <li class="action-item validation-tip"><a href="" class="save-disabled-tooltip" data-lang="af" data-value="" ng-show="piForm.$errors.seed_error" data-tooltip="Vous ne pouvez sauvegarder en raison d'erreurs : {{piForm.$errors.seed_error}}"><i class="icon fa fa-question-circle"></i></a></li>
                    <li class="action-item">
                        <input id="pi-submit-options" type="submit" class="button action-primary save-button" name="pi-submit-options" value="Save" ng-disabled="esc.data.options.length == 0 || piForm.$invalid || piForm.$pending"/>
                    </li>

                    <li class="action-item">
                        <a href="" class="button action-cancel cancel-button" name="pi-cancel-options">Cancel</a>
                    </li>
                </ul>

            </div><!-- .xblock-actions -->

        </form>

    </div><!-- ng-controller="EditSettingsController as esc" -->

</div><!-- #settings-tab -->
